{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-check Admin</title>
  <!-- plugins:css -->
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css'%}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css'%}">

  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css'%}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'partials/_navbar.html' %}
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/_sidebar.html' %}
      <!-- partial -->
      {% block content %}
      
      {% endblock %}
      
    
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js'%}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js'%}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
  <script src="{% static 'js/dataTables.select.min.js'%}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js'%}"></script>
  <script src="{% static 'js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'js/template.js'%}"></script>
  <script src="{% static 'js/settings.js'%}"></script>
  <script src="{% static 'js/todolist.js'%}"></script>
  <script src="{% static 'js/jquery-3.7.1.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js'%}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js'%}"></script>
  <script src="{% static 'js/file-upload.js'%}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

