<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Video</title>
</head>
<body>
    <h1>Video Stream</h1>
    <video id="video" width="640" height="480" autoplay></video>

    <script>
        async function setupVideo() {
            const video = document.getElementById('video');
            const response = await fetch('/camera-view/');
            const blob = await response.blob();
            const stream = URL.createObjectURL(blob);
            video.srcObject = stream;
        }

        setupVideo();
    </script>
</body>
</html>

