{% extends '../index.html' %}
{% load static %}
{% block content %}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Remove student || Vistor</h4>
        <p class="card-description">
          <p>Are you sure you want to delete "{{student}}"?</p>
        </p>
        <form class="forms-sample" method="post" >
          {% csrf_token %}
 

          <button type="submit" class="btn btn-primary mr-2">Confirm</button>
          <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  

  {%endblock%}