{% extends '../index.html' %}
{% load static %}

{% block content %}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List of Entries</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Person Name</th>
                            <th>Card ID</th>
                            <th>Entry Date</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in page_obj %}
                        <tr>
                            <td>{{ entry.person.fname }} {{ entry.person.lname }}</td>
                            <td>{{ entry.card_id }}</td>
                            <td>{{ entry.entry_date }}</td>
                            <td>
                                {% if entry.person.img %}
                                <img src="{{ entry.person.img.url }}" class="img-thumbnail" style="max-width: 100px;">
                                {% else %}
                                <img src="{% static 'images/default.jpg' %}" class="img-thumbnail" style="max-width: 100px;">
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
