{% extends '../index.html' %}
{%load static%}
{% block content %}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View students</h4>
        <p class="card-description">
          Students<code>/Vistor</code>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Lap ID
                </th>
                <th>
                  Serial_number
                </th>

                <th>
                  Brand name
                </th>
                <th>
                  Student
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for lap in laptops %}

                <td>
                  {{lap.id}}
                </td>
                <td>
                  {{lap.serial_number}}
                </td>
                <td>
                  {{lap.brand}}
                </td>
                <td>
                  {{lap.student.fname}}
                </td>
  
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}