{% extends '../index.html' %}
{%load static%}
{% block content %}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View students</h4>
        <p class="card-description">
          Students<code>/Vistor</code>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Student Name
                </th>

                <th>
                  Laptops Serial_number
                </th>
                <th>
                  Entry Time
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for entry in entries %}

                <td>
                  {{entry.id}}
                </td>
                <td>
                    {{entry.student.fname}}&nbsp;{{entry.student.lname}}
                  </td>
                <td>
                  {{entry.student.laptop.serial_number}}
                </td>

                <td>
                  {{entry.entry_date}}
                </td>
  
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}